body {
  margin: 0;
  padding: 0;
  background-color: #262626;
  font-family: "Rubik", sans-serif;
}

#mainpic {
  margin: 0;
  padding: 0;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  color: white;
  list-style-type: none;
  overflow: hidden;
  width: auto;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 18px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3rem;
}

li a:hover {
  opacity: 0.9;
}
header{
  
}
nav{
  position: absolute;
  width: 100%;
  top:0;
}
.container ul {
  display: flex;
}

li#logo {
  margin-right: auto;
}

a#startup-main-menu {
  font-size: 1.4rem;
}

h1{
  margin-bottom: 40px;
  padding-top: 40px;
  font-size: 3.5rem;
  font-weight: 800;
  /* color: #EF7911; */
  text-align: center;
}

p{
  font-size: 1.7rem;
  font-weight: 500;
  /* color: #EF7911; */
  /* text-align: center; */
  /* padding: 0 100px 80px 100px; */

}

.flex-container{
  display: flex;
}

.main-page-pic{
  width: 40vw;
}

.flex-el{
  padding: 100px 60px 80px 60px;
}

.even-el{
  color: white;
  background-color: #EF7911;
}

.odd-el{
  color: #EF7911;
}

.timer{
  padding: 40px 40px;
  margin: 2px;
  color: white;
  background-color: #EF7911;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  width: 50px;
}

#days::after{
  content: " days";
  color: white;
  text-align: center;
}

#hours::after{
  content: " hours";
  color: white;
  text-align: center;
}

#mins::after{
  content: " mins";
  color: white;
  text-align: center;
}

#secs::after{
  content: " secs";
  color: white;
  text-align: center;
}

h2{
  font-size: 40px;
}

.next-event-text{
  align-items: center;
}

.next-event-info{
  font-size: 17px;
  line-height: 0.5;
  margin: 15px 0;
  font-weight: 400;
}

.next-event-header{
  margin-bottom: 0;
}

.our-events-header{
  align-items: center;
}

.our-events-pic{
  width: 24vw;
}

.our-events-section{
  justify-content: space-around;
}

.centered-text{
  text-align: center;
}

h3{
  font-size: xx-large;
}

.description-of-events{
  font-weight: 300;
  font-size: 19px;
}

/*button*/
.main-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button{
  width: 130px;
  height: 40px;
}
.btn{
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background: white;
  border: 2px solid #EF7911;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
  color: #EF7911;
}

.btn:hover{
  border: 2px solid white;
  background: #EF7911;
  color: white;
}

img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
              0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.materials{
  padding-top: 0;
  margin-top: 0;
}

.materials-button{
  background: #EF7911;
  color: #262626;
}

.materials-button:hover{
  background: #262626;
  color: #EF7911;
  border-color: #EF7911;
}